/*CUSTOM NELLTECH DATATABLE */


.dataTable .btn {
	margin: 0;
	padding: 3px 6px;
}

.dataTable thead,
.dataTable tbody {
	text-transform: uppercase;
}

.table-responsive {
	overflow: hidden;
}

.table-responsive .table {
	width:  100% !important;
}

.table-responsive .dataTables_length select {
	background-color: #ffffff;
	border: 1px solid #e4e7ea;
	border-radius: 0;
	box-shadow: none;
	color: #565656;
	height: 38px;
	padding: 7px 12px;
	transition: all 300ms linear 0s;
	width: 240px;
}

.dataTables_filter input {
	height: 38px;
	padding-left: 10px;
	width: 240px;
}
